name: Hugo Deploy

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.152.2' # latest
          
      - name: Build Hugo site
        run: hugo -D

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Upload files to GCS
        uses: google-github-actions/upload-cloud-storage@v3
        with:
          path: ./public
          destination: ${{ secrets.GCP_BUCKET }}
          parent: false
